.App {
  text-align: center;
  color: #43464d;
}
h1 {
  padding-top: 150px;
  padding-bottom: 30px;
  text-align: center;
  font-size: 50px;
  font-family: "Prata", serif;
}
.App-logo {
  height: 44px;
  pointer-events: none;
}
.App-link {
  color: #61dafb;
}
.App footer {
  background: white;
  padding: 15px;
}
