ul {
  padding: 1px;
}
li {
  list-style: none;
  text-align: left;
  font-weight: 400;
  font-size: 15px;
}
.example {
  opacity: 0.8;
  padding-top: 4px;
  font-size: 14px;
  font-weight: 300;
}
strong {
  font-weight: 500;
  font-size: 16px;
}
.example strong {
  font-size: 14px;
  opacity: 0.7;
}
